@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);





h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 20px 10px;
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-rendering: optimizelegibility;
  
  
}

ul{
  display:inline;
}

ul li { display: inline; }

h1:hover{
  
  text-shadow: 0 0.2px 0.1px #fff;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  
  background-color: #f0f0f0; 
  background-image: -webkit-linear-gradient(0deg, transparent 99%,
              rgba(128,128,128,.1) 1%);
  background-image: linear-gradient(90deg, transparent 99%, rgba(128,128,128,.1)
  1%);
  background-size:50px 50px; 
}


.img-rounded {
  float: middle;
  
  margin-right: auto;
  position: relative;
  
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0,
                      0.3);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0,
                    0.3);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.img-cont {
  float: center;
  padding-top: 30px;
  max-height:90% ;
  max-width:90%;
}






.container {
  
  width: 100%;
  float: middle;
  height: auto;
  
  *zoom: 1;
  
  
  
  
  /*background-color: #424242; */
  
  
}


hr {
  
  border: 0;
  max-width: 10%;
  position: center;
  padding-bottom: 2px;
  border-top: 2px solid #777575;
  
}


.footer {
  text-align: center;
  font-weight: 400;
  max-width: 100%;
  color: #fff;
  font-size: 14px;
  position: bottom;
  padding: 30px 0px;
  margin-top:100px;
  letter-spacing: 1px;
  
  background:linear-gradient(0deg, #222 5px, transparent 2px) 0px 10px;
  background:-webkit-linear-gradient(90deg, #222 5px, transparent 2px) 0px 10px;
  
  background-color: #121212;
  background-size: 6px 6px;
  
  
  
}

h1{
  font-family: 'Open Sans', Helvetica,sans-serif;
  margin-top: 50px;
  color: #424242;
  letter-spacing: 5px;
  line-height: 5px;
  text-shadow: 0px 0.2px 0.2px #fff;
  font-size: 65.5px;
  padding-bottom: 5px;
  
}
h2,
h3 {
  text-align: center;
  line-height: 40px;
}


h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
  padding-top: 20px;
  line-height: 30px;
  
}

h4 {
  padding-top:20px;
  font-size: 30px;
  font-weight: 400;
  color: #424242;
  
}

h5 {
  text-align: center;
  padding-top:2px;
  
  font-size: 15px;
  line-height: 0px;
  color: #424242;
  float:middle;
}

h6 {
  
  font-size: 15px;
  color: #424242;
  
  padding-bottom: 30px;
  
}

.link{
  color: #fa5749;
}


.nav-box{
  padding-top: 10px;
  width: auto;
  display:inline-block;
  margin:0 10px 10px 0;
  *display:inline;
  zoom:1;
  
}


.nbutton{
display:inline-block;
width:45px;
height:45px;
border-radius:50px;
font-size:30px;
color:#fff;
line-height:45px;
text-align:center;
background:#fa5749;
text-decoration: none;
margin-left:5px;
}

.nbutton:hover{
  color:#424242;
  
}



.pbutton{
display:inline-block;
width:45px;
height:45px;
border-radius:50px;
font-size:30px;
color:#fff;
line-height:45px;
text-align:center;
background:#fa5749;
text-decoration: none;
margin-right:5px;
  
}

.pbutton:hover{
  color:#424242;
  
}





.title-box{
  
  padding-bottom: 2px;
  padding-top: 2px; 
  margin-bottom: 5px;
    
}

.button {
  
  background: #fa5749;
  padding: 6px 18px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans',Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}


.button:hover {
  
  background: #424242;
  color: #ffffff;
}

.button:active {
  
  background: #fa5749;
}



