<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="../static/arthiktangi/css/base.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="shortcut icon" href="../static/arthiktangi/css/fav.png">
  <head>
    {% block title %}
   
    <title>{{ settings['TITLE'] }}</title>
    
    {% endblock %}
    <div align=center><img src="../static/arthiktangi/css/ATLOGOs.png" class="img-cont"></div>
    <h1>ARTHIK TANGI</h1>
    <h6>Classroom doodle webcomic</h6>
   <div align=center> <a href="#" class="button" align=middle>Home</a>
<a href="#" class="button" align=middle>About</a>
<a href="#" class="button" align=middle>I want in!</a>
<a href="#" class="button" align=middle>Best* of AT</a>
 </div>
    <div align=center>
<hr class="hr">
  {% for item,url in settings['EXTRA_MENU'] %}
 
    <a href="{{ url }}" >{{ item }}</a>{% if not loop.last %} | {% endif %}
  {%- endfor %}
   
  </div>
  </head>
  <body class="body">
    
    <!-- fb -->


    {% block body %}
    Nothing in the body, eh?
    {% endblock %}
    
    <hr class="hr">
   
    <div id="footer" class="footer">
      {{ settings['FOOTER'] }} <br />
      
      Proudly powered by <a href="https://github.com/spacetime/comatic" class="link">Comatic</a>: The static webcomic generator.

    </div>
 
  </body>
</html>
